*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to right,#232526,#414345);
}
.alrt{
    display: none;
}
.container{
    margin-top: 20px;
    margin-left: 12em;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10px; */
    width: 52vw;
    height: 97vh;
    border: 10px solid rgba(245, 245, 245, 0.42);
    background-color: rgba(0, 0, 0, 0.916);
    border-radius: 20px;

    /* border-image:linear-gradient(to right, #1f4037,#99f2c8) ; */
    /* border-image-slice: 1; */
    padding: 10px;
}

.result{
    /* padding: 10px; */
    color: white;
    /* font-size:20px ; */
    width: 49vw;
    height: 15vh;
    border: 10px;
    box-shadow: inset 0 0 10px #bea475;
    border-radius:10px ;
}
.keys{
    /* width: 49vw; */
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 100px 100px 100px 100px 100px ;
    gap: 10px;
    margin-top: 10px;
}
.box{

    width: 150px;
    height: 100px;
    border: 10px;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s;
    border-radius: 10px;
}
.box span{
    
    font-size: 35px;
    font-weight: 900;
}
.box:active{
    transform: scale(0.9);
}
.input{
    margin-top: 7px;
    margin-left: 7px;
    width: 48vw;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.477);
    border: 0px;
    color: white;
    font-size: 35px;
    text-align: center;
    /* box-shadow: inset 0 0 10px #bea475; */
}

@media screen and (max-width: 950px){
    .container{
        width: 85vw;
        height: 70vh;
        margin-left: 2.3em;
    }
    .box{
        width: 58px;
        height: 58px;
       
    }
    .keys{
        grid-template-columns: 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px 60px;
    }
    .result{
        width: 75vw;
        height: 10vh;
    }
    .input{
        width: 72vw;
        height: 7vh;
    }
}
